// app global css in SCSS form

.tw-tooltip:hover span {
  @apply tw-block;
}

.checkbox:checked + span {
  @apply tw-block;
}

.btn {
  background: linear-gradient(100.5deg, #E6007A -16.32%, #703AC2 11.72%, #0070EB 47.31%, #0297FB 70.42%, #0AE2FF 94%);
  -webkit-box-shadow: 0px 2px 2px rgb(0 0 0 / 50%);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 50%);
  border: 0;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: white !important;
  width: 300px;
  font-size: 1rem !important;
  @apply tw-shadow tw-rounded-lg
  dark:tw-bg-darkGray-800 tw-cursor-pointer tw-text-blue-900 dark:tw-text-darkGray-100 tw-font-bold tw-py-4 tw-text-lg;
}

.btn:hover {
  filter: brightness(1.2);
  @apply tw-bg-gray-100 dark:tw-bg-darkGray-600;
}

body {
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Inter', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

