// app global css in SCSS form

.tw-tooltip:hover span {
  @apply tw-block;
}

.checkbox:checked + span {
  @apply tw-block;
}

.btn {
  background: -webkit-gradient(linear, left top, right top, from(#a12bbe), color-stop(50%, #5928b1), to(#1297c0));
  background: linear-gradient(90deg, #a12bbe 0%, #5928b1 50%, #1297c0 100%);
  -webkit-box-shadow: 0px 2px 2px rgb(0 0 0 / 50%);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 50%);
  border: 0;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: white !important;
  width: 280px;
  @apply tw-shadow tw-rounded-lg
  dark:tw-bg-darkGray-800 tw-cursor-pointer tw-text-blue-900 dark:tw-text-darkGray-100 tw-font-bold tw-py-4 tw-text-lg;
}

.btn:hover {
  filter: brightness(1.2);
  @apply tw-bg-gray-100 dark:tw-bg-darkGray-600;
}

body {
  @apply tw-bg-gray-50 dark:tw-bg-black;
}